* {
    font-family: "FiraCode Nerd Font Mono", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: rgba(43, 51, 57, 0.75);
    color: #ffffff;
    font-family: 
    FiraCode Nerd Font Mono;
    transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right
{
    background: rgba(0, 0, 0, .5);
    margin: 5px 10px;
    padding: 0 5px;
    border-radius: 15px;
}
.modules-left {
    padding: 0;
}
.modules-center {
    padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
    padding: 0 10px;
    border-radius: 15px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    background: rgba(26, 27, 38, 0.9);
}


#workspaces button {
  background: transparent;
  font-family:
    FiraCode Nerd Font Mono;
  font-weight: 900;
  font-size: 13pt;
  color: #ffffff;
  border:none;
  border-radius: 15px;
}

#workspaces button.active {
    background:rgba(0, 0, 0, .75);
}

#workspaces button:hover {
  background: rgba(0, 0, 0, .50);
  color: #ffffff;
  box-shadow: none;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    transition: color .5s;
}
#custom-arch:hover {
    color: #1793d1;
}
